* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ebf8ff;

    line-height: 1.6;
}


/* .hero, */
/* .card, */
.tip-box {
    border-radius: 15px tomato;
    background-color: #0e287ee1;
    margin: 20px;
    padding: 20px;
}

.tip-box-b {
    background-color: #fff;

    border-radius: 16px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    border: 1px solid #c8cd7f;

    overflow: hidden;


}

/* ================================
              Header
=================================== */
header {
    background: linear-gradient(to right, #0036aa, #325bfc);
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-icon {
    font-size: 50px;
}

.brand-text p {
    font-size: 14px
}

/* navigation */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}


/* hero section */
.hero {
    display: flex;
    gap: 10px;

    padding: 40px;
}

.hero-icon {
    background-color: #325bfc;
    color: #fff;
    border-radius: 15px;

    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;



}

.hero-text h1 {
    font-size: 40px;
    color: #1a2d78;
}

.hero-text p {
    font-size: 20px;
    color: #474748;
}


/* Main content */

.container {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 40px;

    /* background-color: #fcb1c4; */
}


.card-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    /* background-color: #fffb2c; */
}

.card {
    background-color: #fff;

    border-radius: 16px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
    border: 1px solid #7f86cd;

    overflow: hidden;

}

.card-header {
    background-color: #fff6f6;

    font-size: 18px;
    font-weight: bold;

    padding: 18px;
    border-bottom: 1px solid #7f86cd;


}

.card-header-icon {
    background-color: #3b5de6;
    color: white;

    /* padding: 10px; */
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-flex;
    justify-content: center;
    align-items: center;


}

.purple-bg {
    background-color: #3b5ae6;
}

.purple-text {
    color: #3b5ae6;
}

.yellow-bg {
    background-color: #facf42;
}

.yellow-text {
    color: #facf42;
    margin: 10px;

    font-size: 25px;
    /* font-weight: bold; */
}

.card-body {
    padding: 20px;

}

.format-row {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;

    border-bottom: 1px solid #e4e6f1;
    padding: 8px 0;

}

.label {

    /* padding: 4px 50px; */
    border-radius: 8px;

    color: white;
    font-weight: bold;

    text-align: center;


}

.b-label {
    background-color: tomato;
}

.strong-label {
    background-color: #facf42;
}

.i-label {
    background-color: rgb(155, 250, 66);
}

.em-label {
    background-color: #42c0fa;
}

.u-label {
    background-color: #008f94;
}

.mark-label {
    background-color: rgb(0, 76, 148);
}

.sm-label {
    background-color: rgb(52, 0, 148);
}

.del-label {
    background-color: rgb(148, 0, 141);
}

.sup-label {
    background-color: #e08ac7;
}

.sub-label {
    background-color: rgb(216, 89, 120);
}



/* card 2 */
.pre-box {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    color: white;

}

.html-tag {
    color: tomato;


}

.line-no {
    color: #9c9c9c;
    display: inline-block;
    width: 20px;
}

/* card 3 */

.activity-list {
    list-style: none;
}


.activity-list li {
    margin-bottom: 22px;


}


.check {
    background-color: darksalmon;

    /* padding: 10px; */
    border-radius: 50%;

    display: inline-flex;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-weight: bold;
    font-size: 24px;



}

.check-1 {
    background-color: #008f94;
}

.check-2 {
    background-color: #42c0fa;
}

.check-3 {
    background-color: tomato;
}

.check-4 {
    background-color: #facf42;
}

.check-5 {
    background-color: #d85978;
}

;


.highlights {

    padding: 4px 50px;
    border-radius: 20px;

    color: rgb(255, 255, 255);


}

.highlights-1 {
    padding: 4px 10px;
    border-radius: 8px;

    color: tomato;
    font-weight: bold;


}

.matting-label {
    background-color: #f0c26042;
}

.bun {
    margin: 4px 50px;
}

.bun-tag {
    color: #008f94;

    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: #008f94;
    color: #ffffff;

    padding: 40px 60px 20px;
}

.footer-top {
    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 30px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-col h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-col a {
    color: #eff1f3;

    text-decoration: none;
    font-size: 0.95rem;
}

.footer-col a:hover {
    color: #ffffff;
}

.footer-col p {
    font-size: 0.9rem;
    line-height: 1.5;

    color: #f4f6f8;
}


.footer-bottom {
    border-top: 1px solid tomato;
    color: #f1f2f5;

    padding-top: 20px;
    text-align: center;
    font-size: 0.85rem;

}